@model SimpelFormViewModel;



<h2>Recieved data</h2>
<div>@Model.FirstName</div>
<div>@Model.LastName</div>
<div>@Model.Email</div>
<div>@Model.SelectItem.Countries[Model.SelectItem.SelectCountryId]</div>
<div>@Model.Password</div>
<div>@Model.RepeatPassword</div>
<div>@(Model.Subscribed == true?"You're subscribed":"You're not subscribed")</div>